extends layout

block content
  h1  AxiomAim About Page
  section.css-table
    section.two-column
      section.cell
        h2 About TensorFlow
        p TensorFlow™ is an open source software library for numerical computation using data flow graphs. Nodes in the graph represent mathematical operations, while the graph edges represent the multidimensional data arrays (tensors) communicated between them. The flexible architecture allows you to deploy computation to one or more CPUs or GPUs in a desktop, server, or mobile device with a single API. TensorFlow was originally developed by researchers and engineers working on the Google Brain Team within Google's Machine Intelligence research organization for the purposes of conducting machine learning and deep neural networks research, but the system is general enough to be applicable in a wide variety of other domains as well.
      section.cell
        h2 Celebrating TensorFlow’s First Year
        p In just its first year, TensorFlow has helped researchers, engineers, artists, students, and many others make progress with everything from language translation to early detection of skin cancer and preventing blindness in diabetics. We're excited to see people using TensorFlow in over 6000 open-source repositories online.
        h2 Announcing TensorFlow 1.0
        p In just its first year, TensorFlow has helped researchers, engineers, artists, students, and many others make progress with everything from language translation to early detection of skin cancer and preventing blindness in diabetics. We're excited to see people using TensorFlow in over 6000 open-source repositories online.
  section.css-table
    section.three-column
      section.cell
        h3 TensorFlow 1.0 has arrived!
        p We're excited to announce the release of TensorFlow 1.0! Check out the migration guide to upgrade your code with ease.
        header
            nav
                ul
                  li 
                    a(href="https://www.tensorflow.org/install/migration") UPGRADE NOW
      section.cell
        h3 Dynamic graphs in TensorFlow
        p We've open-sourced TensorFlow Fold to make it easier than ever to work with input data with varying shapes and sizes..
        header
            nav
                ul
                  li 
                    a(href="https://research.googleblog.com/2017/02/announcing-tensorflow-fold-deep.html") LEARN MORE
      section.cell
        h3 The 2017 TensorFlow Dev Summit
        p Thousands of people from the TensorFlow community participated in the first flagship event. Watch the keynote and talks.
        header
            nav
                ul
                  li 
                    a(href="https://www.youtube.com/playlist?list=PLOU2XLYxmsIKGc_NBoIhTn2Qhraji53cv") WATCH VIDEOS
