extends layout

block content
  h1 AxiomAim | Deep Learning
  section.css-table
    section.three-column
      section.cell
        h3 Linear Regression
        p Interactively Regression 1-D data.
        img(src="http://cs.stanford.edu/people/karpathy/convnetjs/regression.png" width='250' height='250')
        header
            nav
                ul
                  li 
                    a(href="/convnetjs/demo/regression.html") AA View
      section.cell
        h3 2-D Classifier
        p Interactively 2-D Classifier with a Neural Network.
        img(src="http://cs.stanford.edu/people/karpathy/convnetjs/classify2d.png" width='250' height='250')
        header
            nav
                ul
                  li 
                    a(href="/convnetjs/demo/classify2d.html") AA View
      section.cell
        h3 Deep Learning
        p Reinforcement Learning Visualizer.
        img(src="http://cs.stanford.edu/people/karpathy/convnetjs/rldemo.png" width='250' height='250')
        header
            nav
                ul
                  li 
                    a(href="/convnetjs/demo/rldemo.html") AA View
  section.css-table
    section.three-column
      section.cell
        h3 MNIST
        p Classifier MNIST digits with Convolutional Neural Network.
        img(src="http://cs.stanford.edu/people/karpathy/convnetjs/mnist.png" width='250' height='250')
        header
            nav
                ul
                  li 
                    a(href="/convnetjs/demo/mnist.html") AA View
      section.cell
        h3 CIFAR-10
        p Classifier CIFAR-10 with Convolutional Neural Network.
        img(src="http://cs.stanford.edu/people/karpathy/convnetjs/cifar10.jpeg" width='250' height='250')
        header
            nav
                ul
                  li 
                    a(href="/convnetjs/demo/cifar10.html") AA View
      section.cell
        h3 MNIST Autoencoder
        p Train an MNIST digits Autoencoder with Neural network.
        img(src="http://cs.stanford.edu/people/karpathy/convnetjs/autoencoder.png" width='250' height='250')
        header
            nav
                ul
                  li 
                    a(href="/convnetjs/demo/autoencoder.html") AA View
  section.css-table
    section.three-column
      section.cell
        h3 Image Regression
        p Neural Network "paints" an image.
        img(src="http://cs.stanford.edu/people/karpathy/convnetjs/nncat.png" width='250' height='250')
        header
            nav
                ul
                  li 
                    a(href="/convnetjs/demo/image_regression.html") AA View
      section.cell
        h3 SGD
        p Comparing SGD/Adagrad/Adadelta.
        img(src="http://cs.stanford.edu/people/karpathy/convnetjs/trainers.png" width='250' height='250')
        header
            nav
                ul
                  li 
                    a(href="/convnetjs/demo/trainers.html") AA View
      section.cell
